<app-header></app-header>
<!-- start page header -->
<section class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="page-header-content">
                <h2 class="text-black">Plan de Gobierno</h2>
                <ul class="breadcrumb align-items-center">
                    <li><a [routerLink]="['/']" class="text-black">Inicio</a></li>
                    <li><a [routerLink]="['/gobiernos']" class="text-black">Plan de Gobierno</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end page header -->


<!-- start main content area -->
<section class="site-content campaign-page section-bg-color section-padding-140">
    <div class="container">
        <div class="section-wrapper">
            <div class="campaign-list row justify-content-center">
                <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let item of gobierno">
                    <div class="post-item">
                        <div class="post-thumb">
                            <a [routerLink]="['/gobiernos/gobierno/' + item.id]">
                                <img class="w-100" src="https://soyrosario.com.co/soyrosario/uploads/{{ item.imagen_url }}" alt="thumb">
                            </a>
                        </div>
                        <div class="post-content">
                            <h6 class="title"><a [routerLink]="['/gobiernos/gobierno/' + item.id]" [innerHTML]="item.titulo | decodeHtml">  </a></h6>
                            <ul class="post-meta">
                                <li>{{ getFechaLetas(item.fecha) }}</li>
                            </ul>
                            <p [innerHTML]="(item.descripcion | slice:0:320) + (item.descripcion.length > 320 ? '...' : '' | decodeHtml)"></p>
                            <a [routerLink]="['/gobiernos/gobierno/' + item.id]" class="custom-btn custom-btn-sm pull-left">Ver gobierno</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end main content area -->


<app-frames-redes></app-frames-redes>

<app-footer></app-footer>
