<section class="campaign-program-section section-bg-color section-padding-140">
    <div class="">
        <div class="container">
            <div class="section-heading">
                <h2>Programas de Gobierno</h2>
                <p>·#SoyRosario</p>
            </div>
            <div class="section-wrapper">
                <div class="campaign-list">
                    <div class="campaign-item align-items-center" *ngFor="let item of gobierno">
                        <div class="campaign-thumb">
                            <a [routerLink]="['/gobiernos/gobierno/' + item.id]">
                            <img class="w-100" src="https://soyrosario.com.co/soyrosario/uploads/{{ item.imagen_url }}">
                        </a>
                        </div>
                        <div class="campaign-content">
                            <h5 class="campaign-title fw-bold ">
                                <a [routerLink]="['/gobiernos/gobierno/' + item.id]" [innerHTML]="item.titulo | decodeHtml">  </a>
                            </h5>
                            <p [innerHTML]="(item.descripcion  | slice:0:320) + (item.descripcion.length > 320 ? '...' : '' | decodeHtml)"></p>
                            <a [routerLink]="['/gobiernos/gobierno/' + item.id]" class="custom-btn custom-btn-sm pull-left">Ver Plan de Gobierno</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>