<section class="latest-news-section section-padding-140 section-bg-color">
    <div class="container">
        <div class="section-heading">
            <h2>Últimas noticias</h2>
            <p>#SoyRosario</p>
        </div>
        <div class="section-wrapper row justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let item of noticias">
                <div class="post-item">
                    <div class="post-thumb">
                        <a [routerLink]="['/noticias/noticia/' + item.id]">
                            <img class="w-100" src="https://soyrosario.com.co/soyrosario/uploads/{{ item.imagen_url }}" alt="thumb">
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title"><a [routerLink]="['/noticias/noticia/' + item.id]" [innerHTML]="item.titulo | decodeHtml"> </a></h6>
                        <p class="heigth-info-noticia" [innerHTML]="(item.descripcion | slice:0:320) + (item.descripcion.length > 320 ? '...' : '' | decodeHtml)"></p>
                        <a [routerLink]="['/noticias/noticia/' + item.id]" class="custom-btn custom-btn-sm pull-left">Ver noticia</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>