.banner.banner-1 {
    height: 100vh;
}

.banner .banner-content .banner-content-text h6 {
    font-size: 17px;
    color: black;
    font-weight: 400;
    line-height: 1.5;
    padding-right: 30%;
}


.banner .banner-content .banner-content-text h1 {
    color: #ec1f78;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 65px;
    font-weight: 900;
}

@media (max-width: 1500px) and (max-height: 1400px) {
    .banner.banner-1 {
        height: 100vh;
        background-image: 
        linear-gradient(180deg, 
        rgb(67 255 255 / 0%) 0%, 
        rgb(67 255 255 / 20%) 70%, 
        rgb(67 255 255 / 54%) 100%)!important;
        overflow: hidden;
    }

    .banner-content {
        margin-top: 70px;
    }

    .banner .banner-content .banner-content-text h1 {
        font-size: 40px;
    }

    .img-mobile{
        position: absolute;
        bottom: 0px;
        right: 110px;
        display: inline-block!important;
        width: fit-content;
    }

    .img-mobile img{
        max-width: none;
        width: 470px;
        opacity: .6;
        display: block!important;
    }

}

@media (max-width: 1440px) and (max-height: 900px) {
    .banner-content{
        margin-top: 90px;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 24px;
        padding-right: 30%;
    }

    .banner.banner-1 {
        background-image: linear-gradient(180deg, rgb(67 255 255 / 0%) 0%, rgb(67 255 255 / 11%) 70%, rgb(67 255 255 / 37%) 100%)!important;
    }

    .img-mobile {
        right: -20px;
    }

    .img-mobile img {
        width: 600px;
    }
}

@media (max-width: 1280px) and (max-height: 960px) {
    .banner-content{
        margin-top: 90px;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 24px;
        padding-right: 30%;
    }

    .banner.banner-1 {
        background-image: linear-gradient(180deg, rgb(67 255 255 / 0%) 0%, rgb(67 255 255 / 11%) 70%, rgb(67 255 255 / 37%) 100%)!important;
    }

    .img-mobile {
        right: -20px;
    }

    .img-mobile img {
        width: 600px;
    }
}

@media (max-width: 1280px) and (max-height: 800px) {

    .about-section .about-section-content {
        top: -120px;
    }

    .img-video-1 {
        height: 310px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .banner .banner-content .banner-content-text h1 {
        font-size: 35px;
    }

    .banner-content{
        margin-top: 90px;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 14px;
        padding-right: 38%;
    }

    .banner.banner-1 {
        background-image: linear-gradient(180deg, rgb(67 255 255 / 0%) 0%, rgb(67 255 255 / 11%) 70%, rgb(67 255 255 / 37%) 100%)!important;
    }

    .img-mobile {
        right: 0px;
    }

    .img-mobile img {
        width: 500px;
        opacity: 1;
    }
}

@media (max-width: 1280px) and (max-height: 600px) {
    .banner-content{
        margin-top: 90px;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 24px;
        padding-right: 30%;
    }

    .banner.banner-1 {
        background-image: linear-gradient(180deg, rgb(67 255 255 / 0%) 0%, rgb(67 255 255 / 11%) 70%, rgb(67 255 255 / 37%) 100%)!important;
    }

    .img-mobile {
        right: 20px;
    }

    .img-mobile img {
        width: 380px;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .banner .banner-content .banner-content-text h6 {
        font-size: 24px;
        padding-right: 30%;
        color: #000000;
    }

    .banner.banner-1 {
        background-image: linear-gradient(180deg, rgb(67 255 255 / 0%) 0%, rgb(67 255 255 / 11%) 70%, rgb(67 255 255 / 37%) 100%)!important;
    }

    .img-mobile {
        right: -20px;
    }

    .img-mobile img {
        width: 510px;
    }
}

@media (max-width: 800px) and (max-height: 600px) {
    .banner .banner-content .banner-content-text h6 {
        font-size: 20px;
        padding-right: 10%;
        color: #000000;
    }

    .banner.banner-1 {
        background-image: linear-gradient(180deg, rgb(67 255 255 / 0%) 0%, rgb(67 255 255 / 11%) 70%, rgb(67 255 255 / 37%) 100%)!important;
    }

    .img-mobile {
        right: -20px;
    }

    .img-mobile img {
        width: 380px;
    }
}

@media (max-width: 770px) {
    
    .banner.banner-1 {
        height: 100vh;
        background-image: 
        linear-gradient(180deg, 
        rgb(67 255 255 / 0%) 0%, 
        rgb(67 255 255 / 20%) 70%, 
        rgb(67 255 255 / 54%) 100%)!important;
        overflow: hidden;
    }

    .banner .banner-content .banner-content-text h1 {
        font-size: 50px;
        background-color: transparent;
        color: #ec1f78;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 20px;
        padding-right: 5%;
        color: black;
        font-weight: 500;
        /* text-shadow: 0px 0px 10px white; */
    }

    /* .banner .banner-content .banner-content-text h6 b{
        
    } */

    .img-mobile{
        position: absolute;
        bottom: 0px;
        left: -140px;
    }

    .img-mobile img{
        max-width: none;
        width: 770px;
        opacity: .6;
    }
    
}


@media (max-width: 400px) {
    .banner .banner-content .banner-content-text h1 {
      font-size: 30px;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 17px;
        padding-right: 2%;
    }
}


@media (max-width: 380px) {
    .img-mobile{
        left: 40px;
    }

    .img-mobile img{
        width: 530px;
    }

    .banner .banner-content .banner-content-text h1 {
        font-size: 40px;
    }

    .banner .banner-content .banner-content-text h6 {
        font-size: 15px;
    }
    
}