<section class="latest-news-section py-5 section-bg-color" *ngIf="show">
    <div class="container">
        <div class="section-heading">
            <h2>Únete a mis redes sociales</h2>
            <p>#SoyRosario</p>
        </div>
        <div class="section-wrapper row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div style="width: 100%;">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoyrosariosanabria&tabs=timeline&width=410&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"  height="700" style="border:none;overflow:hidden; width: 100%;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <iframe src="http://instagram.com/p/Cq8JMCNMD62/embed" frameborder="0" style="width: 100%; height: 700px;"></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <a class="twitter-timeline" data-width="100%" data-height="700" data-theme="light" href="https://twitter.com/RosarioSanabr?ref_src=twsrc%5Etfw">Tweets by RosarioSanabr</a> 
                </div>
            </div>
        </div>
    </div>
</section>