<footer class="footer-section">
    <div class="footer-top section-padding-100">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6 col-sm-6">
                    <div class="widget">
                        <a class="navbar-brand logo" href="#"><img src="assets/images/logo/logo-soyrosario.jpg" alt="logo"></a>
                        <p>Una Trayectoria de Compromiso y Liderazgo en Puerto Gaitán</p>
                        <ul class="contact-info">
                            <li><i class="fa fa-map-marker"></i>Tv. 9 #11-21 a 11-1, Puerto Gaitán - Meta  </li>
                            <li><i class="fa fa-phone"></i>+57 3105712458</li>
                            <li><i class="fa fa-envelope"></i>comunicaciones@soyrosario.com</li>
                        </ul>
                        <app-social-media></app-social-media>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            &copy; 2023 - Creado por el equipo de <b>#SoyRosario</b>
        </p>
    </div>
</footer>