.about-politican {
    box-shadow: 0px 0px 17px 3px #00000024;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.img-video-1{
    height: 420px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 2px 26px 3px #0000001f;
}

.img-video-2{
    height: 135px;
    object-fit: cover;
}

.opt-about-me{
    background-image: url(../../../assets/images/desings/portada_rosario.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.about-bio {
    overflow: hidden;
    padding: 19px 20px;
    background-color: rgb(99 59 143 / 65%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 1500px) and (max-height: 1400px) {
    .about-section .about-section-content {
        top: -60px;
    }
}

@media (max-width: 1370px) and (max-height: 800px) {
    .about-qoute h6 {
        font-size: 18px;
    }

    .about-section {
        height: 330px;
    }
}

@media (max-width: 1280px) and (max-height: 960px) {
    .about-section.home-1 {
        margin-top: 70px;
    }

    .about-bio .politician-thumb {
        margin-right: 0px;
    }

    .about-bio .politician-content .name {
        font-size: 22px;
    }

    .about-qoute h5 {
        font-size: 16px;
    }

    .about-qoute p {
        font-size: 12px;
    }
}

@media (max-width: 1280px) and (max-height: 800px) {
    .about-section.home-1 {
        margin-top: 0px;
    }

    .about-bio .politician-thumb {
        margin-right: 0px;
    }

    .about-bio .politician-content .name {
        font-size: 22px;
    }

    .about-qoute h5 {
        font-size: 16px;
    }

    .about-qoute p {
        font-size: 12px;
    }

    .img-video-1{
        height: 310px;
        object-fit: cover;
    }
}

@media (max-width: 1280px) and (max-height: 600px) {
    .about-section.home-1 {
        margin-top: 70px;
    }

    .about-bio .politician-thumb {
        margin-right: 0px;
    }

    .about-bio .politician-content .name {
        font-size: 22px;
    }

    .about-qoute h5 {
        font-size: 16px;
    }

    .about-qoute p {
        font-size: 12px;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .about-section.home-1 {
        margin-top: 70px;
    }
}

@media (max-width: 800px) and (max-height: 600px) {
    .about-section.home-1 {
        margin-top: 70px;
    }

    .about-section {
        height: auto;
    }
}


@media (max-width: 500px){
    .img-video-1{
        height: auto;
        object-fit: cover;
    }
    
    .img-video-2{
        height: auto;
        object-fit: cover;
    }

    .politician-thumb.col-md-4 img {
        width: 150px;
    }

    .about-section {
        height: auto;
    }
}
