<section class="about-section section-bg-color home-1 ">
    <div class="about-section-content">
        <div class="container">
            <div class="row justify-content-center flex-row-reverse align-items-center">
                <div class="col-xl-5">
                    <div class="about-politican" *ngIf="show_me">
                        <div class="opt-about-me">
                            <div class="about-bio d-flex flex-wrap justify-content-center align-content-center">
                                <div class="politician-thumb col-md-4">
                                    <img src="assets/images/desings/soyrosario-nuevoperfil.png" alt="thumb">
                                </div>
                                <div class="politician-content text-center text-sm-left col-md-7">
                                    <h5 class="name">Maria Rosario <br> Sanabria Dueñas</h5>
                                    <p class="designation text-white mb-0">Puerto Gaitán</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-qoute">
                            <h6 class="fw-bold color-secondary">{{ me_short[0]['titulo'] }}</h6>
                            <p [innerHTML]="me_short[0]['descripcion'] | decodeHtml"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="about-media row no-gutters" *ngIf="show">
                        <div class="col-md-12">
                            <div class="media-thumb" >
                                <img src="https://rosarioalcaldesa.com/rosarioalcaldesa/uploads/{{ videos[0]['imagen_url'] }}" alt="media" class="img-video-1">
                                <a class="play cursor-pointer" (click)="open_video_modal(videos[0]['url_video'])"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>