

@media (max-width: 770px) {
    ::ng-deep .header.style-1 .navbar-toggler {
        color: #633B8F;
        border-color: #633B8F;
    }
    
    ::ng-deep .navbar-nav {
        background-color: white;
        color: black;
    }
}