.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1450px;
}

@media (max-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px;
    }
}

@media (max-width: 992px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1050px;
    }
}



@media (max-width: 770px) {
    ::ng-deep .header.style-1 .navbar-toggler {
        color: #633B8F;
        border-color: #633B8F;
    }
    
    ::ng-deep .navbar-nav {
        background-color: white;
        color: black;
    }
}