<ul class="social-media justify-content-center">
    <li><a class="facebook" href="https://www.facebook.com/soyrosariosanabria"><i class="fa fa-facebook"></i></a></li>
    <li><a class="instagram" href="https://www.instagram.com/mrosariosanabria/"><i class="fa fa-instagram"></i></a></li>
    <li><a class="tiktok" href="https://www.tiktok.com/@mrosariosanabria"><i class="bi bi-tiktok"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/RosarioSanabr"><i class="fa fa-twitter"></i></a></li>
    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>