.close-modal{
    position: absolute;
    right: 23px;
    top: 23px;
    background: #ef2323;
    border: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 90000;
}

#modal-otp-help video {
    width: 100%;
    margin: 10px 0px;
    border-radius: 20px;
}