#time-company{
  background: #f2f2f2;
}

.election-campaign-section {
    background-image: url(../../../assets/images/desings/portada_rosario.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-overlay {
    background-color: rgba(218, 68, 138, 0.16);
    padding: 140px 0px;
  }

  .countdown .countdown-item {
    background: #633B8F78;
}

.countdown .countdown-item:first-child {
  background-color: #633B8F78;
}

.countdown .countdown-item:nth-child(2) {
  background-color: #633B8F78;
}

.countdown .countdown-item:nth-child(3) {
  background-color: #633B8F78;
}

.countdown .countdown-item:last-child {
  background-color: #633B8F78;
}

@media (max-width: 770px) {
  .election-campaign-section {
    background-position-x: -1430px;
  }
}